<h1>List of Bitchin' Photos</h1>

<div class="row">
  <%= link_to 'Upload New Photo', new_image_path, class: "btn btn-lg btn-primary col-md-6"%>
  <%= link_to 'Refresh', root_path, class: "btn btn-lg btn-success col-md-6" %>
</div>
